html, body{
    margin: 0;
    background-image: linear-gradient(90deg, rgba(39,46,126,1) 0%, rgba(52,71,161,1) 25%, rgba(90,134,207,1) 50%, rgba(172,230,246,1) 75%, rgba(247,251,251,1) 100%);
    height: 100vh;
    
    /*min height won't work without height*/ 
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    background-image:  linear-gradient(90deg, rgba(19,26,106,1) 0%, rgba(32,51,141,1) 25%, rgba(70,114,187,1) 50%, rgba(152,210,226,1) 75%, rgba(227,231,231,1) 100%);
}

.nav-bar ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-bar-right li {
    float: right;
}

.nav-bar ul li {
    display: block;
    padding: 10px;
    height: 100%;
    transition: background-color 1s;
}

.nav-bar a {
    text-decoration: none;
    color: #e1f5fb;
    font: 24px;
    font-weight:900;
}

.nav-bar-right a {
    color:#8bc0e6;
}

.nav-bar li:hover {
    background-color: #161858;
}

/* this is the add styling */
.add-container {
    background-image: linear-gradient(90deg, rgba(39,46,126,1) 0%, rgba(52,71,161,1) 25%, rgba(90,134,207,1) 50%, rgba(172,230,246,1) 75%, rgba(247,251,251,1) 100%);
    width: 100%;
}

.data-form input{
    margin: 5px;
    border-color: white;
}

.data-form input[type="text"], .specialize-form input[type="text"], .activate-form input[type="text"]{
    font-size: 24px;
    border-radius: 8px;
}
.data-form input[type="radio"] {
    width: 20px;
    height:20px;
}
.data-form input[type="email"] {
    font-size: 24px;
    border-radius: 8px;
}
.data-form input[type="number"] {
    font-size: 24px;
    border-radius: 8px;
}
.data-form input[type="date"] {
    font-size: 24px;
    border-radius: 8px;
}
.col-left-50 {
    width: 50%;
    padding: 10px;
}

.col-right-50 {
    width: 50%;
    padding: 10px;
    position: relative;
    /*to the nearest POSITIONED*/
}

.add-container h1, .edit-container h1 {
    color: #e1f5fb;
}

.add-container h2, .edit-container h2, .activation-container h2 {
    color: #e1f5fb;
}

.add-container h4, .edit-container h4, .activation-container h4 {
    color: #e1f5fb;
    display: inline;
}

.row {
    display: flex;
    margin: 20px;
}

.label {
    width: 200px;
    display: inline-block;
}

.col-right-50 input[type="button"], .col-70 input[type="submit"]{
    width: 350px;
    height: 50px;
    background-color: rgb(21, 221, 21);
    border: 0px;
    border-radius: 6px;
    color: #e1f5fb;
    font-size: 36px;
    font-weight: 700;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 20px;
    transition: background-color 1s;
}

.col-right-50 input[type="button"]:hover, .edit-container input[type="submit"]:hover, .specialization-container input[type="submit"]:hover, .activation-container input[type="submit"]:hover{
    background-color: rgb(8, 81, 8);
    cursor: pointer;
}




/*                     footer                 */

.col-25 {
    width: 25%;
}

.footsy {
    background-image:  linear-gradient(90deg, rgba(19,26,106,1) 0%, rgba(32,51,141,1) 25%, rgba(70,114,187,1) 50%, rgba(152,210,226,1) 75%, rgba(227,231,231,1) 100%);
}

footer {
    width: 100%;
    margin-top: 90vh;
}

.footsy li {
    display: block;
}
.footsy a {
    text-decoration: none;
    color: #e1f5fb;
    font: 24px;
    font-weight:900;
    transition: background-color 1s;
}
.footsy a:hover{
    background-color: #161858;
}

/* Edit page */
.edit-container {
    margin: 20px;
}

.search-bar input[type="text"]{
    width: 100%;
    height: 25px;
    border: 0px;
    border-radius: 7px;
    font-size: 24px;
    /*margin is not working on inline display*/
}

.search-form {
    display: flex;
    justify-content: space-evenly;
}

.edit-container .search-form input[type="submit"], .specialization-container input[type="submit"], .activation-container input[type="submit"] {
    height: 30px;
    width: 100px;
    margin: 0px;
    font-size: 24px;
    /* we cannot make it move */
}

.col-70 {
    width: 70%;
    margin: auto;
}

.edit-container .row, .specialization-container .row, .activation-container .row{
    width: 100%;
    display: block;
}

.edit-container input[type="submit"], .specialization-container input[type="submit"], .activation-container input[type="submit"]{
    position: relative;
    width: 200px;
}

.edit-container .data-form input[type="submit"]{
    margin: 0px 10px 0px 10px;
}

.edit-container .data-form {
    width: 510px;
    margin: auto;
}

.delete-button-wrapper {
    display: flex;
    justify-content: space-between;
}

/* specialize */

.specialization-container, .activation-container {
    margin: 20px;
}

.rendering-table table{
    color: #161858;
    font-size: 24px;
    width: 100%;
    background-color: #e1f5fb;
    border-radius: 5px;
    border: 3px solid #161858;
    border-spacing: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

th, td {
    border: 3px solid #161858;
}

.specialization-container td:hover, .activation-container td:hover{
    transition: background-color 0.4s;
}

.specialization-container td:hover, .activation-container td:hover{
    background-color: #8bc0e6;
    cursor: pointer;
}

.dropdowndept {
    background-color: rgb(21, 221, 21);
    height: 30px;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 1s;
}

.dropdowndept h3 {
    font-size: large;
    color: #e1f5fb;
    margin: 0px;
}
.dropdowndept:hover {
    background-color:rgb(8, 81, 8);
}
.specialization-container .dropdowndept:hover .dropdowndeptlist ul{
    display: block;
}

.dropdowndept .dropdowndeptlist li {
    transition: background-color 1s;
}

.dropdowndept .dropdowndeptlist li:hover{
    background-color: #161858;
    cursor: pointer;
}
.dropdowndeptlist ul {
    display: none;
    list-style-type: none;
    width: 200px;
    margin: 0px;
    padding: 0px;
    color: #8bc0e6;
    background-color: #e1f5fb;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
}


.row.sprow3, .row.acrow3, .row.acrow3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row.acrow3 input[type="radio"]{
    width: 20px;
    height: 20px;
}

.col-50 {
    width: 50%;
}

.about .section-1 img{
    height: 180px;
    width: 180px;
    object-fit: cover;
    object-position: 10% 30%;
    border-radius: 7px;
    float: right;
}
.about p {
    font-size: 24px;
    font-weight: 600;
    color: #e1f5fb;
    line-height: 2;
}

.activate-form h4 {
    margin:0px;
}

.add-container .dropdowndept {
    display: inline-block;
}

.add-container .dropdowndept {
    vertical-align: middle;
    /* solved floating */
}
.dropdowndeptlist {
    position: absolute;
}

.error {
    font-size: 20px;
    display: none;
    font-weight: bold;
    background-color: #ff3333;
    width: 23px;
    height: 23px;
    color: white;
    text-align: center;
    border-radius: 50%;
    transition: background-color 1s;
}

.error:hover{
    cursor: pointer;
    background-color: #6e1818;
}