{% extends 'base.html' %}
{% block content %}
<div class="add-container">
    <form class="data-form" id="addform" method="POST" onsubmit="return register()">
        {% csrf_token %}
        <div class="row">
            <div class="col-left-50">
                <h1>Student Information</h1>
                    <div class="label"><h2>ID           </h2></div><input type="text" placeholder="ID" id="id" name="id"><div class="error" id="eid" onclick="error_message(this)">&#33</div><br>
                    <div class="label"><h2>Name         </h2></div><input type="text" placeholder="Name" id="name"  name="name"><div class="error" id="ename" onclick="error_message(this)">&#33</div><br>
                    <div class="label"><h2>Date of Birth</h2></div><input type="date" placeholder="Date of Birth" id="dob" name="dob"><div class="error" id="edob"  onclick="error_message(this)">&#33</div><br>
                    <div class="label"><h2>GPA          </h2></div><input type="number"  placeholder="GPA" step="0.1" min="0.0" max="4.0" id="gpa" name="gpa"><div class="error" id="egpa"  onclick="error_message(this)">&#33</div><br>
                    <div class="label"><h2>Gender       </h2></div>
                    <input type="radio" name="gender" id="male" value="on"><h4>Male</h4>
                    <input type="radio" name="gender" id="female" value="off"><h4>Female</h4><div class="error" id="egender" onclick="error_message(this)">&#33</div><br>
                    <div class="label"><h2>Level        </h2></div><input type="number" placeholder="Level" id="lv" min="1" max="4" name="level"><div class="error" id="elv" onclick="error_message(this)">&#33</div><br>
                    <div class="label"><h2>Status       </h2></div>
                    <input type="radio" name="status" id="active" value="on"><h4>Active</h4>
                    <input type="radio" name="status" id="inactive" value="off"><h4>Inactive</h4><div class="error" id="estatus" onclick="error_message(this)">&#33</div><br>
                    <div class="label"><h2>Department   </h2></div>
                    <div class="dropdowndept" onmouseover="openlist()" onmouseleave="collapselist()" id="spdropdown">
                        <h3 id="dept">Choose Department</h3>
                        <input type="text" class="hiddeninput" name="dept">
                        <ul class="dropdowndeptlist" onclick="selectdept()">
                            <li onclick="setdept('CS')">CS</li>
                            <li onclick="setdept('IS')">IS</li>
                            <li onclick="setdept('AI')">AI</li>
                            <li onclick="setdept('DS')">DS</li>
                            <li onclick="setdept('IT')">IT</li>
                        </ul>
                    </div><div class="error" id="edept" onclick="error_message(this)">&#33</div><br>
                    <div class="label"><h2>E-mail       </h2></div><input type="email" placeholder="E-mail" id="email" name="email"><div class="error" id="eemail" onclick="error_message(this)">&#33</div><br>
                    <div class="label"><h2>Mobile Number</h2></div><input type="text" placeholder="Mobile Number" id="mobile" name="mobile"><div class="error" id="emobile" onclick="error_message(this)">&#33</div>
            </div>
            <div class="col-right-50">
                <input type="submit" value="Register">
            </div>
        </div>   
    </form>
</div>
{% endblock %}

        
