{% extends 'base.html' %}
{% block content %}
<div class="specialization-container">
    <div class="col-70">
        <div class="row">
            <form class="search-form" method="GET">
                <div class="search-bar">
                    <input type="text" placeholder="Type Student Name" name="name" id="search-field-specialization">
                </div>
            </form>
        </div>
        <div class="row">
            <div class="rendering-table">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                    {% for s in students %}
                        <tr onclick="setspid('{{s.id}}')">
                            <td>{{s.id}}</td>
                            <td>{{s.name}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <form class="specialize-form" id="sp-form" method="POST">
            {% csrf_token %}
            <div class="row sprow3">
                <div class="spid-wrapper">
                    <input type="text" placeholder="ID" id="spid" name="stud-id"><div class="error" id="eid" onclick="error_message(this)">&#33</div>
                </div>
                <input type="submit" value="Specialize" name="specialize">
            </div>
        </form>
    </div>
</div>
{% endblock %}
