{% extends 'base.html' %}
{% block content %}
<div class="specialization-container">
    <div class="col-70">
        <div class="row">
            <form class="search-form">
                <div class="search-bar">
                    <input type="text" placeholder="Type Student Name">
                </div>
                <input type="button" value="Search">
            </form>
        </div>
        <div class="row">
            <div class="rendering-table">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                    <tr onclick="setspid('20200543')">
                        <td>20200543</td>
                        <td>Mostafa Mohammad Abd El-moaty</td>
                    </tr>
                    <tr onclick="setspid('20200161')">
                        <td>20200151</td>
                        <td>Some Name</td>
                    </tr>
                </table>
            </div>
        </div>
        <form class="specialize-form" id="sp-form">
            <div class="row sprow3">
                <div class="spid-wrapper">
                    <input type="text" placeholder="ID" id="spid" name="stud-id"><div class="error" id="eid" onclick="error_message(this)">&#33</div>
                </div>
                <input type="button" value="Specialize" onclick="specialize()">
            </div>
        </form>
    </div>
</div>
{% endblock %}
