{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FCI Student Adminstaration Homepage</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    </head>
    <body>
        <div class="nav-bar">
            <div class="nav-bar-left">
                <ul>
                    <li><a href="index.html"><img src="{% static 'assets/home.png' %}" class="home"></a></li>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="add.html">Add</a></li>
                    <li><a href="edit.html">Edit</a></li>
                    <li><a href="specialize.html">Specialize</a></li>
                    <li><a href="activation.html">Activation</a></li>
                </ul>
            </div>
            <div class="nav-bar-right">
                <ul>
                    <li><a href="index.html">Sign In</a></li>
                    <li><a href="index.html">Sign Up</a></li>
                </ul>
            </div>
        </div>

        <div class="activation-container">
            <div class="col-70">
                <div class="row">
                    <form class="search-form">
                        <div class="search-bar">
                            <input type="text" placeholder="Type Student Name">
                        </div>
                        <input type="button" value="Search">
                    </form>
                </div>
                <div class="row">
                    <div class="rendering-table">
                        <table>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Status</th>
                            </tr>
                            <tr onclick="setacid('20200543')">
                                <td>20200543</td>
                                <td>Mostafa Mohammad Abd El-moaty</td>
                                <td>Active</td>
                            </tr>
                            <tr onclick="setacid('20200161')">
                                <td>20200151</td>
                                <td>Some Name</td>
                                <td>Active</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <form class="activate-form">
                    <div class="row acrow3">
                        <input type="text" placeholder="ID" id="acid">
                        <input type="radio" name="Status">
                        <h4>Active</h4>
                        <input type="radio" name="Status">
                        <h4>Inactive</h4>
                        <input type="button" value="Apply">  
                    </div>
                </form>
            </div>
        </div>
        <footer class="footsy">
            <div class="row">
                <div class="col-25">
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
                <div class="col-25">
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
                <div class="col-25">
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
                <div class="col-25">
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>