{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FCI Student Adminstaration Homepage</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body class="index-body">
        <div class="nav-bar">
            <div class="nav-bar-left">
                <ul>
                    <li><h1 class="nav-title">FCI-Adminstration Homepage</h1></li>
                </ul>
            </div>
            <div class="nav-bar-right">
                <ul>
                    <li><a href="index.html">Sign In</a></li>
                    <li><a href="index.html">Sign Up</a></li>
                </ul>
            </div>
        </div>

        <div class="index-container">
            <div class="row">
                <div class="col-50">
                    <div class="card index-card">
                        <h1>Select Intended Project</h1>
                        <div class="row">
                            <div class="col-50">
                                <button type="button"><a href="student_affairs.html">Student Affairs</a></button>
                                <button type="button"><a href="#">Human Resources</a></button>
                            </div>
                            <div class="col-50">
                                <button type="button"><a href="#">Laboratory</a></button>
                                <button type="button"><a href="#">Higher Studies</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footsy">
            <div class="row">
                <div class="col-25">
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
                <div class="col-25">
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
                <div class="col-25">
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
                <div class="col-25">
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>