{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FCI Student Adminstaration Homepage</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="nav-bar">
            <div class="nav-bar-left">
                <ul>
                    <li><a href="index.html"><img src="assets/home.png" class="home"></a></li>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="add.html">Add</a></li>
                    <li><a href="edit.html">Edit</a></li>
                    <li><a href="specialize.html">Specialize</a></li>
                    <li><a href="activation.html">Activation</a></li>
                </ul>
            </div>
            <div class="nav-bar-right">
                <ul>
                    <li><a href="index.html">Sign In</a></li>
                    <li><a href="index.html">Sign Up</a></li>
                </ul>
            </div>
        </div>

        <footer class="footsy">
            <div class="row">
                <div class="col-25">
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
                <div class="col-25">
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
                <div class="col-25">
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
                <div class="col-25">
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>